{% extends "./plantilla.html" %}

{% block body%}
<div class="wrapper">
        <div class="main">
            <div class="infon-conten">
             <h1>I'M <span> EDGAR </span> HURTADO </h1>
             <p class="parrafo1">Excelente relaciones laborales e interpersonales, gran capacidad de aprender y adaptarse al cambio, experto en el trabajo en equipo, organizado en el desempeño laboral a travès de la planeaciòn, perseverante en la consecuciòn de metas y objetivos</p>
             <br>
             <p class="parrafo1">Desarrollador de software con experiencia en diseño, instalación, pruebas y mantenimiento de sistemas de software. Dominio de varias plataformas, lenguajes y sistemas integrados. Experiencia en las herramientas y procedimientos de desarrollo más vanguardistas. Capaz de autogestión eficaz en proyectos independientes. Buenas habilidades de colaboración dentro de un equipo productivo.
             </p>
             <a download href="#">
                <button class="download-cv">download CV</button>
             </a>
             </div>
             <img src="/static/imagenes/edgar.jpg" alt=""width="350" height="350"
        </div>
    </div>
  
    
    
    {% endblock %}