{% extends "plantilla.html" %}

{% block body%}
    <section class="s2">
        <div class="s2c1"><h1>HTML</h1>
         <center>
            <img src="/static/imagenes/HTML5.png"class="circulo" alt=""width="70px"height="70px">
         </center>
            <br>
            <br>   
            <p class="parrafo">Soy un desarrollador web con sólidos conocimientos en HTML5, capaz de crear y mantener estructuras web semánticas, optimizadas para la accesibilidad y el rendimiento. He trabajado en proyectos donde he traducido maquetas de diseño en páginas web funcionales, asegurando la compatibilidad en múltiples dispositivos y navegadores. Mi experiencia incluye la integración de HTML con CSS y JavaScript, así como la implementación de prácticas de SEO técnico para mejorar la visibilidad y el rendimiento del sitio.</p>
        </div>

        <div class="s2c1"><h1>CSS</h1>
         <center>
            <img src="/static/imagenes/css.png" class="circulo" alt="" width="70px" height="70px">
             </center>
            <ul>
                <li class="parrafo">
                    Desarrollo de estilos: Experiencia en la creación de estilos visualmente atractivos y funcionales para sitios web, asegurando una apariencia coherente y profesional.
                </li>
                <br>
                <li class="parrafo">
                    Responsive Design: Capacidad para diseñar y ajustar interfaces que se adaptan a diferentes dispositivos y tamaños de pantalla utilizando técnicas de CSS modernas.
                </li>
                <br>
                <li class="parrafo">
                    Preprocesadores CSS: Familiaridad con preprocesadores como SASS o LESS, optimizando la escritura y gestión del CSS de manera más eficiente.
                </li>
                <br>
                <li class="parrafo">
                    Optimización de rendimiento: Implementación de prácticas de optimización de CSS para mejorar el rendimiento del sitio, como la minimización y el uso de técnicas avanzadas de codificación.
                </li>
            </ul>
      
        </div>

        <div class="s2c1"><h1>PYTHON</h1>
         <center><img src="/static/imagenes/python.png" class="circulo" alt=""width="70px" height="70px"></center>
        
            
                <li class="parrafo">
                    Desarrollo de Scripts y Automatización: Experiencia en la creación de scripts eficientes para automatizar tareas repetitivas y optimizar procesos, ahorrando tiempo y recursos.
                </li>
                <br>
                <li class="parrafo">
                    Análisis de Datos: Capacidad para manipular, analizar y visualizar datos utilizando bibliotecas como Pandas, NumPy y Matplotlib, proporcionando insights valiosos a partir de grandes conjuntos de datos.
                </li>
                <br>
                <li class="parrafo">
                    Desarrollo Web: Familiaridad con frameworks como Django y Flask para construir aplicaciones web robustas y escalables.
                </li>
            
        
        </div>
    </section>
        
   
    {% endblock %}